.blue-background{
    background-color: $blue;
}
.bluedark-background{
    background-color: $blue-dark;
}
.grey-background{
    background-color: $light-grey;
}

.white{
    color: $white;
}


.background-footer{
    background-image: url(../../images/);
}